{% extends 'base.html.twig' %}

{% block title %}Menu!{% endblock %}

{% block body %}
<body class="d-flex flex-column justify-content-center align-items-center min-vh-100">
    <main class="text-center w-50">
        <nav class="mx-auto bg-primary rounded p-3">
            <h2 class="alert alert-primary mt-3 fs-5">Menu</h2>
        </nav>
        <p class="alert alert-primary mt-3">
            *****************
        </p>
        <a href="http://localhost:8000/pokemons/verPokemons" class="btn btn-primary d-block mt-3">Ver Pokemons</a>
        <a href="http://localhost:8000/pokemons/verPokemonsJSON" class="btn btn-primary d-block mt-2">JSON</a>
        <a href="http://localhost:8000/pokemons/verPokemonsJSON" class="btn btn-primary d-block mt-3">JSON</a>
        <a href="http://localhost:8000/pokemons/verPokemonsJSON" class="btn btn-primary d-block mt-3">JSON</a>

    </main>
</body>
{% endblock %}